<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
            name="joomla_v4_component"
            label="COM_JOOMLA_V4_COMPONENTS_FIELD_CONFIG_INDIVIDUAL_JOOMLA_V4_COMPONENT_DISPLAY"
            description="COM_JOOMLA_V4_COMPONENTS_FIELD_CONFIG_INDIVIDUAL_JOOMLA_V4_COMPONENT_DESC"
    >
        <field
                name="show_joomla_v4_component_name_label"
                type="list"
                label="COM_JOOMLA_V4_COMPONENTS_FIELD_JOOMLA_V4_COMPONENT_SHOW_CATEGORY_LABEL"
                default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="custom_fields_enable"
                type="radio"
                class="switcher"
                label="JGLOBAL_CUSTOM_FIELDS_ENABLE_LABEL"
                default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="show_name"
                type="radio"
                label="COM_JOOMLA_V4_COMPONENTS_FIELD_PARAMS_NAME_LABEL"
                default="1"
                class="switcher"
        >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

    </fieldset>
    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                validate="rules"
                filter="rules"
                component="com_joomla_v4_components"
                section="component"
        />
    </fieldset>
</config>
